@page "/game"
@inject NavigationManager Navigation
@inject ILogger<Game> Logger
@using System.Text
@using Microsoft.AspNetCore.SignalR.Client
@implements IAsyncDisposable
@rendermode InteractiveServer

<h3>MooSharp</h3>

@if (_hubConnection is null || _hubConnection.State != HubConnectionState.Connected)
{
    <p><em>Connecting to server...</em></p>
}
else
{
    <div class="game-output-container">
        <pre>@_gameOutput</pre>
    </div>

    <div class="input-container">
        <input @bind="_commandInput"
               @bind:event="oninput"
               @onkeydown="HandleKeyDown"
               placeholder="Type a command..."/>
        <button @onclick="SendCommandAsync">Send</button>
    </div>
}

@code {
    private HubConnection? _hubConnection;
    private readonly StringBuilder _gameOutput = new();
    private string _commandInput = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/moohub"))
            .Build();

        _hubConnection.On<string>("ReceiveMessage",
            (message) =>
            {
                _gameOutput.AppendLine(message);

                InvokeAsync(StateHasChanged);
            });

        _hubConnection.Reconnecting += error =>
        {
            Logger.LogWarning(error, "SignalR reconnecting...");

            return Task.CompletedTask;
        };

        _hubConnection.Reconnected += connectionId =>
        {
            Logger.LogInformation("SignalR reconnected. New ConnectionId={ConnectionId}", connectionId);

            return Task.CompletedTask;
        };

        _hubConnection.Closed += error =>
        {
            Logger.LogWarning(error, "SignalR closed");

            return Task.CompletedTask;
        };

        // Start the connection
        try
        {
            await _hubConnection.StartAsync();
        }
        catch (Exception ex)
        {
            _gameOutput.AppendLine($"Starting hub failed: {ex.Message}");
        }
    }

    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await SendCommandAsync();
        }
    }

    private async Task SendCommandAsync()
    {
        if (_hubConnection is null || string.IsNullOrWhiteSpace(_commandInput))
        {
            return;
        }

        try
        {
            await _hubConnection.SendAsync(nameof(MooHub.SendCommand), _commandInput);
        }
        catch (Exception e)
        {
            Logger.LogError(e, "Error on SignalR send");

            throw;
        }

        _commandInput = string.Empty;
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            // Clean up the connection when the component is destroyed
            await _hubConnection.DisposeAsync();
        }
    }

}